.dark {
    color: #FFF;
    background-color: #31394D;
}
body.dark main {
    color: #fff; /* Cambia el color del texto en main cuando el modo oscuro está activado */
}
body.dark input[type="checkbox"] {
    border: 4px solid #091921;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: 18px 18px 30px #d1d9e6,
        -18px -18px 30px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked {
    box-shadow: 18px 18px 30px #d1d9e6,
        -18px -18px 30px #fff,
        inset 18px 18px 30px #d1d9e6,
        inset -18px -18px 30px #fff;
    border: 5px solid #ececec;
}
#loginButton{
        font-family: FontAwesome;
        font-size: 1vw; /* Usa vw para hacerlo relativo al ancho de la ventana */
        color: grey;;
       

}

input[type="checkbox"]:after {
    font-family: FontAwesome;
    font-size: 50px;
    color: grey;
    content: '\f186';
    position: absolute;
}

input[type="checkbox"]:checked:after {
    content: '\f185';
    color: #ffa000;
}

input[type="checkbox"]:active {
    transform: scale(1.15);
}

@media only screen and (max-width: 480px) {
    input[type="checkbox"] {
        width: 20px;
        height: 20px;

    }
    input[type="checkbox"]:after {
        font-family: FontAwesome;
        font-size: 5vw; /* Usa vw para hacerlo relativo al ancho de la ventana */
        color: grey;
        content: '\f186';
        position: absolute;
    }
    
    input[type="checkbox"]:checked:after {
        font-size: 5vw; /* Ajusta el tamaño para la versión checked */
        content: '\f185';
        color: #ffa000;
    }
}

/* /* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-box{
    position:relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
  }
  .lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .lb-header .active{
    color: #029f5b;
    font-size: 18px;
  }
  .social-login{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
  }
  .social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
  }
  .social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
  }
  .social-login a:first-child{
    background-color: #49639F;
  }
  .social-login a:last-child{
    background-color: #DF4A32;
  }
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
  }
  .u-form-group input[type="email"],
  .u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus{
    border-color: #358efb;
  }
  .u-form-group button{
    width:50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
  .forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }

/* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}